<h1>Welcome to NaturEscape</h1>

<h3> Where are you trying to escape? </h3><br>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Address/Zipcode/Location:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
