body{
  font-family: 'Comfortaa', cursive;
}
.location-info {
  text-align: left;
  float: left;
  margin-right: 150px;
}

#activity-box {
  text-align: right
  float:left;
  padding-top: 1px;
}


#welcome {
  text-align: center;
}

.excuses {
  text-align: center;

}

.form-control {
  width: 50%;
  margin-left: 325px;       /* This is when the drop down box appears */

  position: relative;
  align: center;
  font-size: 24px;
}

.btn-primary {
  text-align: center;
}

#dumb-button {

}
#trail-bar {
  width: 40%;
  align: center;
}

.trail-header {
  text-align: center;
}

#trail-form {
  text-align: center;
}
