body{
  font-family: 'Comfortaa', cursive;
  background-image: url(background.jpg);
}
.location-info {
  text-align: left;
  float: left;
  margin-right: 150px;
}

.header {
  color: white;
}

#activity-box {
  text-align: right;
  float:left;
  padding-top: 1px;
}


#welcome {
  text-align: center;
}

.excuses {
  text-align: center;

}

.form-control {
  width: 50%;
  margin-left: 325px;

  position: relative;
  align: center;
  font-size: 24px;
}

.btn-primary {
  text-align: center;
}

#dumb-button {

}
#trail-bar {
  width: 40%;
  align: center;
}

.trail-header {
  text-align: center;
  color: white;
}

#trail-form {
  text-align: center;
}

.suggestions {
  color: white;
}

.location-info {
  color: white;
}

.table {
  background-color: white;
}

.well {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.4);
}

#welcome-form {
  text-align: center;
}

.subheader {
  padding-top: 1px;
}
